<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>PyPauser</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100dvh - 10em);
        margin-top: 10em;
      "
    >
      <form method="post" action="/pause">
        <button
          style="width: 100%; height: 200px; margin-top: 200px; font-size: 50px"
        >
          Pause / Play
        </button>
      </form>
      <form method="post" action="/next" data-confirm>
        <button
          style="width: 100%; height: 200px; margin-top: 50px; font-size: 50px"
        >
          Next
        </button>
      </form>
    </div>
    <script type="text/javascript">
      document.querySelectorAll("[data-confirm]").forEach(function (form) {
        form.addEventListener("submit", function (event) {
          if (!confirm("Are you sure?")) {
            event.preventDefault();
          }
        });
      });
    </script>
  </body>
</html>
